# Eclipse
.settings/
.metadata/
.classpath
.project

# Generated
target/
javadoc/
bin/
log/
classes/
META-INF/
activemq-data/
dependency-reduced-pom.xml

# Misc.
.DS_Store
*.swp
*.swo

# externalized configuration file for keys
*.exchange.properties
